body{
    background-color: #E8EDDF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.container{
  display: flex;
  margin: 20px 10px;
  flex-direction: column;
  background-color: rgb(255, 236, 218);
  border-style:groove;
}

.container p{
  font-size: 20px;
}

.title-information{
    text-align: center;
    background-color:bisque;
    padding: 20px;
    flex-wrap: wrap;
}

.title-information h1{
    font-weight: bold;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 52px;
  padding: 20px;
  flex-wrap: wrap;
}

.rock, .paper, .scissors{
background-color: #fadc59;
color: #000000;
border-style: solid;
border-width:5px;
font-weight: bold;
transition: all 0.25s;
border-radius: 5%;
}

.rock:hover, .paper:hover, .scissors:hover{
  border-color: rgb(243, 178, 0);
  border-style: groove;
  border-width: 10px;
}

.rock:active, .paper:active, .scissors:active{
  background-color: black;
  opacity: 10%;
}


.rock img, .paper img, .scissors img{
    max-width: 150px;
    height: 150px;
    justify-content: center;

}
.scissors img{
  padding-left: 20px;
  padding-right: 10px;
}

.score{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 52px;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.userScore, .computerScore, .roundAndWinner{
  font-size: 20px;
  width: 200px;
  height: 70px;
  border-style: solid;
  color: #000000;
  background-color: #fadc59 ;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  border-width:4px;
  border-radius: 5%;
}

.animationWinnerLog{
  animation-name: winnerLog;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  scale: 1.1;
  color: #000000;
}

@keyframes winnerLog {
  to{
    scale: 1;
    scale: 1.1;
    color:saddlebrown;
  }
}

.animationWinnerBox{
  animation-name: winnerBox;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  background-color: rgb(165, 255, 106);
    scale: 1.2;
}

@keyframes winnerBox {
  to{
    background-color: #fadc59;
    scale: 1;
  }
}


.informationGame{
  display: flex;
  background-color: bisque;
  padding: 20px;
  justify-content: center;
}

.information{
  width: 500px;
  height: auto;
  border-style: groove;
  background-color: #E8EDDF;
  border-radius: 5%;
}

.information h1{
  font-size: 1.5em;
}

.info{
  background-color: rgb(255, 235, 198);
  margin: 10px;
  border-style: groove;
  transition: 0.25s;
  border-radius: 5%;
}

.info:hover{
  scale: 1.04;
  border-style:groove;
  border-color:rgb(107, 63, 5);
  background-color:blanchedalmond;
}

.infoLogs{
  padding: 5px 0px;
  margin: 0px;
}

.infoLogs-1{
  padding: 5px 0px;
  margin: 0px;
  font-weight: bold;
}

.animationLogs{
  animation-name: zoomIn;
  animation-duration: 1s;
}

@keyframes zoomIn {
  from{
    opacity: 0%;
    scale: 1.2;
    background-color:rgb(171, 223, 236) ;
  }
  to{
    opacity: 100%;
    scale: 1;
  }
}

.footer{
  background-color: #fadc59;
  border-style: solid;
  border-width: 3px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;

}

.footer p{
  font-weight: bold;
  margin: 12px;
}

